.Sidebar {
    width: 275px;
    position: fixed;
    left: 0;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: white;
    color: themed("textColor");
    border-radius: 0 0 10px 0;
}


.Sidebar .container {
    padding: 20px;
}


.Sidebar .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Sidebar span {
    font-size: 12px;
}

.Sidebar .user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* .Sidebar  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
} */

.Sidebar  span {
    font-size: 14px;
    color: themed("textColor");
}


.Sidebar .item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    gap: 15px;
    background-color: themed("bg");
}

.Sidebar  span {
    font-size: 14px;
    color: themed('textColor')
}